<!doctype html>
<html ng-app="myApp">

<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      var fb = document.getElementById("facebookText").innerHTML;
      var str = "https://www.facebook.com/" + fb;
      console.log(fb);
      $(".fb-page").attr('data-href',encodeURIComponent(fb));
      //$(".fb-xfbml-parse-ignore").attr('cite',encodeURIComponent(fb));
      //$(".not-a-class").attr('href',encodeURIComponent(fb));
      console.log("Here");

      FB.XFBML.parse();
    });
  </script>
</head>

<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>


    <div ng-controller="myController">
        <h2 id="welcomeText">Welcome. You are Logged In as
            <%= username %>
        </h2>
        <a id="logoutLink" href="/logout">logout</a>
        <a id="editLink" href="/user">Edit User</a>
        <p>
            <p>
    </div>
    <hr>
    <span id="indexMsg">
        <%= msg %>
    </span>
    <hr>

      Facebook username: <div id="facebookText"><%= facebook %></div>


    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>

    <!-- repeat for all users -->



    <h3>Facebook feed:</h3>
    <span><div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a class="not-a-class" href="https://www.facebook.com/facebook">Facebook</a></blockquote></div> </span>

</body>

</html>
